@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    .logoName {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;

      a:nth-child(n) {
        font-size: 25px;
      }

      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}
